
<li><a href="sass.html">About Print-Ed</a></li>
<li><a href="badges.html">Why Print-Ed</a></li>
<li><a href="collapsible.html">Our Courses</a></li>
 <li><a class="modal-trigger" href="#modal1">Login</a></li>