<p>Welcome back.</p>
<%= form_for @student do |f| %>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :email, html: {class: "validate"} %>
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field col s6">
          <%= f.password_field :password, html: {class: "validate"} %>
          <label for="icon_telephone">Password</label>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <%= f.submit :submit %>
        </div>
      </div>
    </form>
  </div>
<% end %>