  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">About Print-Ed</a></li>
        <li><a href="badges.html">Why Print-Ed</a></li>
        <li><a href="collapsible.html">Our Courses</a></li>
        <li><a class="modal-trigger" href="#modal1">Login</a></li>
      </ul>
    </div>
  </nav>
        
<div class="modal" id="modal1">
  <%= render "shared/login_modal" %>
</div>