  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
            <% if current_user.is_admin? %>
              <%= render "shared/admin_bar" %>
            <% else %>
              <%= render "shared/user_bar" %>
            <% end %>
        <% else %>
          <%= render "shared/default_bar" %>
        <% end %>
      </ul>
    </div>
  </nav>
        
<div class="modal" id="modal1">
  <%= render "shared/login_modal" %>
</div>