<div class="full-width-bar valign-wrapper center-align text-white">
  <h1>Welcome to BCYCNA Training</h1>
</div>

<%= render 'front_page_icons' %>

<div class="center-align row">
  <div class="col s12 m12 l6 offset-l3">
  <h4>Don't work for one of Canada's ___ community newspapers?<br>
    Want access to our training tools?</h4>
    <a class="waves-effect waves-light btn">SIGN UP</a>
  </div>
</div>

