<h3 class="center_align">Latest Lessons from <%= @course.name %></h3>
<div class="row">
  <div class="col sm-6 offset-s3">
    <div class="collection">
      <% @lessons.each do |lesson| %>
        <a href="#" class="collection-item avatar">
          <img src=<%= lesson.featured_image %> />
          <h4><%= lesson.name %></h4>
          <p><%= lesson.content.truncate_words(11) %></p>
          <span>Type: Reading</span>
        </a>
      <% end %>
    </ul>
    </div>
  </div>
</div>