
<div class="col s4">
  <div class="card">
    <div class="card-image">
      <img src= <%= course.image %> >
      <span class="card-title"><%= course.name %></span>
    </div>
    <div class="card-content">
      <p><%= course.description %></p>
    </div>
    <div class="card-action">
      <a href="#">View Course</a>
    </div>
  </div>
</div>
